<h1>Stupid coach</h1>
<div class="d-inline p-2 text-bg-primary">
<p>Question: <%= params[:question] %></p>
<p>- You</p>
</div>
<div class="d-inline p-2 text-bg-dark">
<p>Answer: <%= @answer %></p>
<p>- Your coach</p>
</div>

<%= link_to 'Ask another question', ask_path %>
